{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
  body{
    background-image: url("{% static 'images/login.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  </style>
<div class="auth-container">
  <div class="auth-card">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter your username" required>

      <label>Password</label>
      <input type="password" name="password" placeholder="Enter your password" required>

      <button type="submit">Login</button>
    </form>
    <p class="switch">New user? <a href="{% url 'signup' %}">Sign up</a></p>
  </div>
</div>
