body {
    font-family: 'Segoe UI', sans-serif;
    background:#cfbdc6;
}

form {
  max-width: 650px;
  margin: 0 auto; 
}

#email {
    padding: 7px;
    margin-bottom: 3px;
    
}

#first_name {
   
    padding: 7px;
    margin-bottom: 7px;
    
}

#last_name { 
    padding: 7px;
    margin-bottom: 7px;
    
}

#phone {    
    padding: 7px;
    margin-bottom: 7px;
     
}
#address {
    padding: 7px;
    margin-bottom: 7px;
    
}

#summary {
    padding: 7px;
    margin-bottom: 7px;
}

#skills {   
    padding: 7px;
    margin-bottom: 7px;
}

#experience { 
    padding: 7px;
    margin-bottom: 7px;
}

#education {  
    padding: 7px;
    margin-bottom: 7px;
}
