body {
    font-family: 'Segoe UI', sans-serif;
    background:#226661;
    margin: 0;
    padding: 0;
}
.container-fluid {
    display: flex;
    width: 900px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 700px; 
    margin: auto;
}

/* Left side */
.left-section {
    width: 50%;
    background: #edeff3;
    color: rgb(15, 15, 15);
    padding: 20px;
}

/* Right side */
.right-section {
    width: 50%;
    background: #f6f7fa;
    color: rgb(10, 10, 10);
    padding: 20px;
}
#name {
  margin: 0;
  font-size: 25px;
  color: #131213;
  text-emphasis-color: white;
  text-align: right;
  }
#epa {
  margin: 0;
  font-size: 15px;
  color: #090909;  
}
#contact {
  margin: 0;
  font-size: 20px;
  color: #050505;  
}
#sum  {
  margin: 0;
  font-size: 20px;
  color: #2c3e50; 
}
#summ {
  margin: 0;
  font-size: 15px;
  color: #0e0e0e; 
}
#ul {
  margin: 0;
  font-size: 15px;
  color: #0d0d0d; 
}
#sk {
  font-size: 23px;
  color: #0e0e0e;
}
#lang {
  margin: 0;
  font-size: 15px;
  color: #0a0a0a; 
}
#exp {
   margin: 0;
  font-size: 23px;
  color: #2c3e50;
}
#expe {
  margin: 0;
  font-size: 15px;
  color: #2c3e50; 
}
#edu {
   margin: 0;
  font-size: 23px;
  color: #090909;
}
#educ {
  margin: 0;
  font-size: 15px;
  color: #0e0e0e; 
}