body{
   margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    font-family: Arial, sans-serif;

}
.sign {
    width: 350px;
    padding: 25px;
    background: #f7ecec;
    border: 4px solid #200747;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
    background-color: rgb(253, 239, 242);
}
